Checks: >
  *,
  cppcoreguidelines-*,
  clang-analyzer-*,
  misc-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-const-return-type,
  readability-container-size-empty,
  readability-make-member-function-const,
  readability-misplaced-const,
  readability-non-const-parameter,
  readability-redundant-string-cstr,
  readability-redundant-member-init,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr,
  readability-static-accessed-through-instance,
  readability-string-compare
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
